In [1]:
# Importing necessary libraries to load the data
import numpy as np
import pandas as pd
import chardet

In [2]:
import os
for dirname, _, filenames in os.walk("C:/Users/sp3052/OneDrive - UNT System/5300_Assignment_1"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:/Users/sp3052/OneDrive - UNT System/5300_Assignment_1\electricity_access_percent.csv
C:/Users/sp3052/OneDrive - UNT System/5300_Assignment_1\gdp_data.csv
C:/Users/sp3052/OneDrive - UNT System/5300_Assignment_1\mystery.csv
C:/Users/sp3052/OneDrive - UNT System/5300_Assignment_1\population_data.csv
C:/Users/sp3052/OneDrive - UNT System/5300_Assignment_1\population_data.db
C:/Users/sp3052/OneDrive - UNT System/5300_Assignment_1\population_data.json
C:/Users/sp3052/OneDrive - UNT System/5300_Assignment_1\rural_population_percent.csv

In [3]:
# Extracting the csv files directly into pandas dataframes
df_population = pd.read_csv('population_data.csv', skiprows=4)
gdp_df = pd.read_csv("gdp_data.csv",skiprows=4)
electricity_df = pd.read_csv('electricity_access_percent.csv',skiprows=4)
rpp_df = pd.read_csv('rural_population_percent.csv',skiprows=4)
# using chardet library Handling encoding explictly of this data frame 
msty_df = pd.read_csv('mystery.csv', encoding='UTF-16', sep=',', on_bad_lines='skip')

In [4]:
df_population

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0,NaN
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0,NaN
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0,NaN
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0,NaN
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0,NaN

In [6]:
df_population.shape

(264, 63)

In [81]:
df_pop=df_population.drop('Unnamed: 62',axis=1)  

# Remove rows and columns with all null values
df_pop_cleaned = df_pop.dropna(how='any', axis=0).dropna(how='any', axis=1)

# Remove duplicate rows
df_pop_cleaned = df_pop_cleaned.drop_duplicates()

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
df_pop_cleaned
# to check shape of the dataframe
df_pop_cleaned.shape
# to check the any null values in the data frame
df_pop_cleaned.isnull().sum()
# df_pop_cleaned.to_csv('C:/Users/sp3052/OneDrive - UNT System/final/pop.csv', index=False)

Cleaned DataFrame:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

In [80]:
# Assuming gdp_df is your DataFrame
gdp_df_cleaned=gdp_df.drop('Unnamed: 62',axis=1)  
# Remove rows and columns with all null values
gdp_df_cleaned = gdp_df_cleaned.dropna(how='any', axis=0).dropna(how='any', axis=1)
# Remove duplicate rows
gdp_df_cleaned = gdp_df_cleaned.drop_duplicates()


# Display the cleaned DataFrame
print("Cleaned DataFrame:")
gdp_df_cleaned
# to check shape of the dataframe
gdp_df_cleaned.shape
# to check the any null values in the data frame
gdp_df_cleaned.isnull().sum()
# gdp_df_cleaned.to_csv('C:/Users/sp3052/OneDrive - UNT System/final/gdp.csv', index=False)

Cleaned DataFrame:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
11,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.857319e+10,1.964834e+10,1.988801e+10,2.150185e+10,2.375854e+10,2.593124e+10,...,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12,1.208039e+12,1.323421e+12
12,Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,...,4.302943e+11,4.001723e+11,3.918927e+11,4.311203e+11,4.094252e+11,4.300687e+11,4.418854e+11,3.820659e+11,3.908000e+11,4.165957e+11
14,Burundi,BDI,GDP (current US$),NY.GDP.MKTP.CD,1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,...,1.611634e+09,1.739781e+09,2.026864e+09,2.355652e+09,2.472385e+09,2.714506e+09,3.093647e+09,3.066681e+09,3.007029e+09,3.477502e+09
15,Belgium,BEL,GDP (current US$),NY.GDP.MKTP.CD,1.165872e+10,1.240015e+10,1.326402e+10,1.426002e+10,1.596011e+10,1.737146e+10,...,5.186259e+11,4.845528e+11,4.835480e+11,5.270085e+11,4.978842e+11,5.209255e+11,5.307710e+11,4.550396e+11,4.675455e+11,4.926813e+11
16,Benin,BEN,GDP (current US$),NY.GDP.MKTP.CD,2.261956e+08,2.356682e+08,2.364349e+08,2.539276e+08,2.698190e+08,2.899087e+08,...,7.132787e+09,7.097199e+09,6.970241e+09,7.814081e+09,8.152554e+09,9.157356e+09,9.707432e+09,8.291156e+09,8.573160e+09,9.273558e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,St. Vincent and the Grenadines,VCT,GDP (current US$),NY.GDP.MKTP.CD,1.306656e+07,1.399988e+07,1.452488e+07,1.370822e+07,1.475821e+07,1.510821e+07,...,6.954289e+08,6.749225e+08,6.812260e+08,6.761294e+08,6.929337e+08,7.212071e+08,7.251852e+08,7.566667e+08,7.655556e+08,7.896296e+08
257,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.353783e+12,1.409528e+12,1.509012e+12,1.629958e+12,1.788432e+12,1.947843e+12,...,6.343346e+13,6.013844e+13,6.595667e+13,7.329734e+13,7.496562e+13,7.705059e+13,7.913144e+13,7.484273e+13,7.593681e+13,8.068379e+13
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

In [12]:
# to check shape of the dataframe
gdp_df_cleaned.shape
# to check the any null values in the data frame
gdp_df_cleaned.isnull().sum()
# gdp_df_cleaned.to_csv('C:/Users/shpctac0fff7/OneDrive - UNT System/outputs', index=False)

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [8]:
# df['Population_Growth_Rate'] = df.apply(lambda row: (row['2017'] - row['1960']) / row['1960'] * 100, axis=1)
# df_pop.fillna(0, inplace=True)
# df_pop

In [9]:
# df_pop.shape

In [10]:
# df_pop.isnull().sum()

In [11]:
# df_pop.isnull().sum().sum()

In [12]:
# df_pop['Population_Growth_Rate'] = df_pop.apply(lambda row: ((row['2017'] - row['1960']) / row['1960'] * 100) if row['1960'] != 0 else None, axis=1)
# df_pop['Population_Growth_Rate']

In [8]:
df_json = pd.read_json('population_data.json',orient='records')
df_json.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [9]:
df_json.isnull().sum().sum()

165

In [18]:
import sqlite3

#connection to the database 
conn = sqlite3.connect('population_data.db')

#run a query
pd.read_sql('SELECT * FROM population_data', conn)

,index,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

In [16]:
# # Load data from JSON file into a DataFrame
# with open('population_data.json', 'r') as file:
#     data = json.load(file)
# df_json = pd.json_normalize(data)

# # Compare data between CSV and SQLite
# csv_sql_equal = df_population.equals(df_sql)

# # Compare data between CSV and JSON
# csv_json_equal = df_csv.equals(df_json)

# # Merge CSV and SQLite data to find differences
# merged_data = df_csv.merge(df_sql, indicator=True, how='outer')
# differences = merged_data.loc[merged_data['_merge'] != 'both']

In [11]:
# Extracting data from an API end point and loading into the Dataframe
import requests
import pandas as pd

url = 'http://api.worldbank.org/v2/countries/br;cn;us;de/indicators/SP.POP.TOTL/?format=json&per_page=1000'
r = requests.get(url)
r.json()

[{'page': 1,
  'pages': 1,
  'per_page': 1000,
  'total': 252,
  'sourceid': '2',
  'lastupdated': '2023-12-18'},
 [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2022',
   'value': 215313498,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2021',
   'value': 214326223,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2020',
   'value': 213196304,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2019',
   'value': 211782878,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2018',
   'value': 210166592,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2017',
   'value': 208504960,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2016',
   'value': 206859578,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2015',
   'value': 205188205,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2014',
   'value': 203459650,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2013',
   'value': 201721767,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2012',
   'value': 199977707,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2011',
   'value': 198185302,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2010',
   'value': 196353492,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2009',
   'value': 194517549,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2008',
   'value': 192672317,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2007',
   'value': 190779453,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2006',
   'value': 188820682,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2005',
   'value': 186797334,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2004',
   'value': 184722043,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2003',
   'value': 182629278,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2002',
   'value': 180476685,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2001',
   'value': 178211881,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2000',
   'value': 175873720,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1999',
   'value': 173486281,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1998',
   'value': 171039804,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1997',
   'value': 168546707,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1996',
   'value': 166037122,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1995',
   'value': 163515328,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1994',
   'value': 160980472,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1993',
   'value': 158440875,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1992',
   'value': 155900790,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1991',
   'value': 153336445,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1990',
   'value': 150706446,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1989',
   'value': 148003411,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1988',
   'value': 145253973,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1987',
   'value': 142466264,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1986',
   'value': 139643355,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1985',
   'value': 136783180,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1984',
   'value': 133888775,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1983',
   'value': 130977370,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1982',
   'value': 128065095,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1981',
   'value': 125168060,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1980',
   'value': 122288383,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1979',
   'value': 119447303,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1978',
   'value': 116664382,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1977',
   'value': 113939886,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1976',
   'value': 111286504,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1975',
   'value': 108700515,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1974',
   'value': 106167372,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1973',
   'value': 103666904,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1972',
   'value': 101194394,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1971',
   'value': 98766288,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1970',
   'value': 96369875,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1969',
   'value': 94000381,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1968',
   'value': 91659246,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1967',
   'value': 89323288,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1966',
   'value': 86979283,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1965',
   'value': 84623747,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1964',
   'value': 82262794,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1963',
   'value': 79915555,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1962',
   'value': 77599218,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1961',
   'value': 75330008,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1960',
   'value': 73092515,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2022',
   'value': 1412175000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2021',
   'value': 1412360000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2020',
   'value': 1411100000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2019',
   'value': 1407745000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2018',
   'value': 1402760000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2017',
   'value': 1396215000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2016',
   'value': 1387790000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2015',
   'value': 1379860000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2014',
   'value': 1371860000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2013',
   'value': 1363240000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2012',
   'value': 1354190000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2011',
   'value': 1345035000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2010',
   'value': 1337705000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2009',
   'value': 1331260000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2008',
   'value': 1324655000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2007',
   'value': 1317885000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2006',
   'value': 1311020000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2005',
   'value': 1303720000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2004',
   'value': 1296075000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},

In [83]:
# Merge the DataFrames based on the common columns using an inner join
merged_df = pd.merge(df_pop, gdp_df, on=['Country Name', 'Country Code'], how='inner')
merged_df = pd.merge(merged_df, electricity_df, on=['Country Name', 'Country Code'], how='inner')
# merged_df = pd.merge(merged_df, df4, on=['Country Name', 'Country Code', 'Years', 'Population', 'GDP', 'Electricity', 'Rural Population'], how='inner')

# Save the merged data to a new CSV file
merged_df.to_csv('merged_data.csv', index=False)

# Read the CSV file back into a new DataFrame
new_df = pd.read_csv('merged_data.csv')

# Drop rows and columns with all null values
new_df = new_df.dropna(how='all', axis=0).dropna(how='all', axis=1)
# new_df = new_df.dropna(axis=0, how='any', inplace=True)
# new_df =new_df.dropna(axis=1, how='any', inplace=True)
new_df=new_df.drop_duplicates()
new_df
# # new_df.to_csv('C:/Users/sp3052/OneDrive - UNT System/outputs/merged_data_processed33.csv', index=False)
# # Calculate descriptive statistics for the DataFrame
# new_df_rest_columns= new_df.describe()

# # Calculate the sum of the DataFrame and convert it to a DataFrame with a 'sum' label
# sum_row = pd.DataFrame(new_df.sum()).T
# sum_row.index = ['sum']

# # Concatenate the result of describe() with the sum row
# new_df_with_sum = pd.concat([new_df_rest_columns, sum_row])
# new_df_with_sum
# # m1=new_df.describe()

# m1.to_csv('C:/Users/shpctac0fff7/OneDrive - UNT System/outputs/merged_data_processed2.csv', index=False)

,Country Name,Country Code,Indicator Name_x,Indicator Code_x,1960_x,1961_x,1962_x,1963_x,1964_x,1965_x,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,92.838821,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,33.748680,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,37.500000,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,97.244034,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,59.042709,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,82.000000,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,18.500000,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,35.184479,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138

In [76]:
# Merge the DataFrames based on the common columns using an inner join
merged_df = pd.merge(df_pop_cleaned, gdp_df_cleaned, on=['Country Name', 'Country Code'], how='inner')
merged_df = pd.merge(merged_df, electricity_df_cleaned, on=['Country Name', 'Country Code'], how='inner')
# merged_df = pd.merge(merged_df, df4, on=['Country Name', 'Country Code', 'Years', 'Population', 'GDP', 'Electricity', 'Rural Population'], how='inner')

# Save the merged data to a new CSV file
merged_df.to_csv('merged_data1.csv', index=False)

# Read the CSV file back into a new DataFrame
new_df = pd.read_csv('merged_data1.csv')
new_df
# new_df.to_csv('C:/Users/sp3052/OneDrive - UNT System/final/mmmmrrggg.csv', index=False)

,Country Name,Country Code,Indicator Name_x,Indicator Code_x,1960_x,1961_x,1962_x,1963_x,1964_x,1965_x,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,AUS,"Population, total",SP.POP.TOTL,1.027648e+07,1.048300e+07,1.074200e+07,1.095000e+07,1.116700e+07,1.138800e+07,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
1,Austria,AUT,"Population, total",SP.POP.TOTL,7.047539e+06,7.086299e+06,7.129864e+06,7.175811e+06,7.223801e+06,7.270889e+06,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2,Burundi,BDI,"Population, total",SP.POP.TOTL,2.786106e+06,2.839666e+06,2.893669e+06,2.949926e+06,3.010859e+06,3.077876e+06,...,4.817322,4.800000,5.341904,5.300000,5.938580,6.500000,6.583319,7.000000,7.252090,7.588477
3,Belgium,BEL,"Population, total",SP.POP.TOTL,9.153489e+06,9.183948e+06,9.220578e+06,9.289770e+06,9.378113e+06,9.463667e+06,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Benin,BEN,"Population, total",SP.POP.TOTL,2.431622e+06,2.465867e+06,2.502896e+06,2.542859e+06,2.585965e+06,2.632356e+06,...,29.336712,30.621239,31.926792,34.200000,36.900000,38.400000,37.299206,34.100000,40.033478,41.402615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,St. Vincent and the Grenadines,VCT,"Population, total",SP.POP.TOTL,8.094900e+04,8.214200e+04,8.320600e+04,8.416700e+04,8.506900e+04,8.597000e+04,...,88.790000,90.470222,91.837242,93.222282,94.622345,96.034424,97.455513,98.598648,99.455063,100.000000
109,World,WLD,"Population, total",SP.POP.TOTL,3.032160e+09,3.073369e+09,3.126510e+09,3.191786e+09,3.257460e+09,3.324545e+09,...,81.747638,82.278317,83.211382,83.539093,82.504609,85.041356,85.163456,85.690892,87.028468,87.351269
110,South Africa,ZAF,"Population, total",SP.POP.TOTL,1.745686e+07,1.792067e+07,1.840161e+07,1.889928e+07,1.941298e+07,1.994230e+07,...,82.000000,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000
111,Zambia,ZMB,"Population, total",SP.POP.TOTL,3.044846e+06,3.140264e+06,3.240587e+06,3.345145e+06,3.452942e+06,3.563407e+06,...,18.500000,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337
112,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3.747369e+06,3.870756e+06,3.999419e+06,4.132756e+06,4.269863e+06,4.410212e+06,...,35.184479,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138

In [66]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL database table
new_df.to_sql('merged_data1', conn, index=False)
# Define the SQL query using a raw string literal (prefixed with r)
query_1 = r'''
    SELECT
    "Country Name",
    MAX("2010_x") AS "Max Population 2010",
    "2010_y" AS "GDP Value 2010",
    "2010" AS "Electricity Access 2010"
FROM
    merged_data1
WHERE
    "2010_y" IS NOT NULL
    AND "2010" IS NOT NULL
    AND "2010_x" IS NOT NULL
GROUP BY
    "Country Name"
ORDER BY
    "Max Population 2010" DESC
LIMIT 1;

'''
result_df1 = pd.read_sql_query(query_1, conn)

result_df1

  Country Name  Max Population 2010  GDP Value 2010  Electricity Access 2010
0        World         6.932870e+09    6.595667e+13                83.539093

In [85]:
# without merge data

import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL database table
df_pop_cleaned.to_sql('population_data', conn,if_exists='replace',index=False)
gdp_df_cleaned.to_sql('gdp_data', conn,if_exists='replace',index=False)
electricity_df_cleaned.to_sql('electricity_access_percent', conn,if_exists='replace',index=False)
# Define the SQL query using a raw string literal (prefixed with r)
query_1 = r'''

SELECT 
    p.[Country Name], 
    p.[Country Code], 
    p.[2010] AS Population_2010, 
    g.[2010] AS GDP_2010,
    e.[2010] AS electricity_access_percent_2010
FROM 
    population_data p
INNER JOIN 
    gdp_data g ON p.[Country Code] = g.[Country Code]
INNER JOIN 
    electricity_access_percent e ON p.[Country Code] = e.[Country Code]
WHERE 
    p.[2010] = (SELECT MAX([2010]) FROM population_data);


'''
result_df1 = pd.read_sql_query(query_1, conn)

result_df1

,Country Name,Country Code,Population_2010,GDP_2010,electricity_access_percent_2010
0,World,WLD,6.932870e+09,6.595667e+13,83.539093

In [90]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL database table
df_pop_cleaned.to_sql('population_data', conn,if_exists='replace',index=False)
gdp_df_cleaned.to_sql('gdp_data', conn,if_exists='replace',index=False)
electricity_df_cleaned.to_sql('electricity_access_percent', conn,if_exists='replace',index=False)



# Q=r'''
# SELECT
#     p.[Country Name],

#     p.[Country Code],

#     P.[Indicator Name] AS PopulationIndicator,

#     P.[Indicator Code] AS PopulationIndicatorCode,

#     P.[2010] AS Population2010,

#     g.[Indicator Name] AS GDPIndicator,

#     g.[Indicator Code] AS GDPIndicatorCode,

#     g.[2010] AS GDP2010,

#     e.[Indicator Name] AS ElectricityIndicator,

#     e.[Indicator Code] AS ElectricityIndicatorCode,

#     e.[2010]

 
# FROM 
#     population_data p
# INNER JOIN 
#     gdp_data g ON p.[Country Code] = g.[Country Code]
# INNER JOIN 
#     electricity_access_percent e ON p.[Country Code] = e.[Country Code]
 
# ORDER BY p.[2010] DESC
 
# OFFSET 11 ROWS
 
# FETCH NEXT 1 ROW ONLY
# '''
q=r'''
SELECT 
    p.[Country Name], 
    p.[Country Code], 
    p.[Indicator Name] AS PopulationIndicator,
    p.[Indicator Code] AS PopulationIndicatorCode,
    p.[2010] AS Population2010, 
    g.[Indicator Name] AS GDPIndicator,
    g.[Indicator Code] AS GDPIndicatorCode,
    g.[2010] AS GDP2010, 
    e.[Indicator Name] AS ElectricityIndicator,
    e.[Indicator Code] AS ElectricityIndicatorCode,
    e.[2010]
FROM 
    population_data p
INNER JOIN 
    gdp_data g ON p.[Country Code] = g.[Country Code]
INNER JOIN 
    electricity_access_percent e ON p.[Country Code] = e.[Country Code]
ORDER BY p.[2010] DESC
LIMIT 1 OFFSET 11;

'''

result_df1 = pd.read_sql_query(q, conn)

result_df1

,Country Name,Country Code,PopulationIndicator,PopulationIndicatorCode,Population2010,GDPIndicator,GDPIndicatorCode,GDP2010,ElectricityIndicator,ElectricityIndicatorCode,2010
0,China,CHN,"Population, total",SP.POP.TOTL,1.337705e+09,GDP (current US$),NY.GDP.MKTP.CD,6.100620e+12,Access to electricity (% of population),EG.ELC.ACCS.ZS,99.7

In [68]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL database table
new_df.to_sql('merged_data1', conn, index=False)
# Define the SQL query using a raw string literal (prefixed with r)
# query =SELECT
#     "Country Name",
#     MAX("2010_x") AS "Max Population 2010"
# FROM
#     merged_data
# WHERE
#     "2010_y" IS NOT NULL
#     AND "2010" IS NOT NULL
#     AND "2010_x" IS NOT NULL
# GROUP BY
#     "Country Name"
# ORDER BY
#     "Max Population 2010" DESC
# LIMIT 1;



# Define the SQL query using a raw string literal (prefixed with r)
# query_1 = r'''
#     SELECT
#     "Country Name",
#     MAX("2010_x") AS "Max Population 2010",
#     "2010_y" AS "GDP Value 2010",
#     "2010" AS "Electricity Access 2010"
# FROM
#     merged_data
# WHERE
#     "2010_y" IS NOT NULL
#     AND "2010" IS NOT NULL
#     AND "2010_x" IS NOT NULL
# GROUP BY
#     "Country Name"
# ORDER BY
#     "Max Population 2010" DESC
# LIMIT 1;

# '''
# result_df1 = pd.read_sql_query(query_1, conn)

# result_df1


query_2 = r''' 
SELECT
    "Country Name",
    "Country Code",
    "Indicator Name_y" AS "GDP Indicator Name",
    "Indicator Code_y" AS "GDP Indicator Code",
    "1960_y" AS "GDP 1960",
    "1961_y" AS "GDP 1961",
    "1962_y" AS "GDP 1962",
    "1963_y" AS "GDP 1963",
    "1964_y" AS "GDP 1964",
    "1965_y" AS "GDP 1965",
    "1966_y" AS "GDP 1966",
    "1967_y" AS "GDP 1967",
    "1968_y" AS "GDP 1968",
    "1969_y" AS "GDP 1969",
    "1970_y" AS "GDP 1970",
    "1971_y" AS "GDP 1971",
    "1972_y" AS "GDP 1972",
    "1973_y" AS "GDP 1973",
    "1974_y" AS "GDP 1974",
    "1975_y" AS "GDP 1975",
    "1976_y" AS "GDP 1976",
    "1977_y" AS "GDP 1977",
    "1978_y" AS "GDP 1978",
    "1979_y" AS "GDP 1979",
    "1980_y" AS "GDP 1980",
    "1981_y" AS "GDP 1981",
    "1982_y" AS "GDP 1982",
    "1983_y" AS "GDP 1983",
    "1984_y" AS "GDP 1984",
    "1985_y" AS "GDP 1985",
    "1986_y" AS "GDP 1986",
    "1987_y" AS "GDP 1987",
    "1988_y" AS "GDP 1988",
    "1989_y" AS "GDP 1989",
    "1990_y" AS "GDP 1990",
    "1991_y" AS "GDP 1991",
    "1992_y" AS "GDP 1992",
    "1993_y" AS "GDP 1993",
    "1994_y" AS "GDP 1994",
    "1995_y" AS "GDP 1995",
    "1996_y" AS "GDP 1996",
    "1997_y" AS "GDP 1997",
    "1998_y" AS "GDP 1998",
    "1999_y" AS "GDP 1999",
    "2000_y" AS "GDP 2000",
    "2001_y" AS "GDP 2001",
    "2002_y" AS "GDP 2002",
    "2003_y" AS "GDP 2003",
    "2004_y" AS "GDP 2004",
    "2005_y" AS "GDP 2005",
    "2006_y" AS "GDP 2006",
    "2007_y" AS "GDP 2007",
    "2008_y" AS "GDP 2008",
    "2009_y" AS "GDP 2009",
    "2010_y" AS "GDP 2010",
    "2011_y" AS "GDP 2011",
    "2012_y" AS "GDP 2012",
    "2013_y" AS "GDP 2013",
    "2014_y" AS "GDP 2014",
    "2015_y" AS "GDP 2015",
    "2016_y" AS "GDP 2016",
    "2017_y" AS "GDP 2017"
FROM
    merged_data1
WHERE
    "Indicator Name_y" IS NOT NULL

'''
result_df2 = pd.read_sql_query(query_2, conn)

result_df2
# query = '''
#  SELECT
#     "Country Name",
#     "Country Code"
# FROM
#     merged_data
# WHERE
#     "Indicator Name" = 'Electricity access (% of population)'
#     AND (
#         "1961" < 20 OR
#         "1962" < 20 OR
#         "1963" < 20 OR
#         "1964" < 20 OR
#         "1965" < 20 OR
#         "1966" < 20 OR
#         "1967" < 20 OR
#         "1968" < 20 OR
#         "1969" < 20 OR
#         "1970" < 20 OR
#         "1971" < 20 OR
#         "1972" < 20 OR
#         "1973" < 20 OR
#         "1974" < 20 OR
#         "1975" < 20 OR
#         "1976" < 20 OR
#         "1977" < 20 OR
#         "1978" < 20 OR
#         "1979" < 20 OR
#         "1980" < 20 OR
#         "1981" < 20 OR
#         "1982" < 20 OR
#         "1983" < 20 OR
#         "1984" < 20 OR
#         "1985" < 20 OR
#         "1986" < 20 OR
#         "1987" < 20 OR
#         "1988" < 20 OR
#         "1989" < 20 OR
#         "1990" < 20 OR
#         "1991" < 20 OR
#         "1992" < 20 OR
#         "1993" < 20 OR
#         "1994" < 20 OR
#         "1995" < 20 OR
#         "1996" < 20 OR
#         "1997" < 20 OR
#         "1998" < 20 OR
#         "1999" < 20 OR
#         "2000" < 20 OR
#         "2001" < 20 OR
#         "2002" < 20 OR
#         "2003" < 20 OR
#         "2004" < 20 OR
#         "2005" < 20 OR
#         "2006" < 20 OR
#         "2007" < 20 OR
#         "2008" < 20 OR
#         "2009" < 20 OR
#         "2010" < 20 OR
#         "2011" < 20 OR
#         "2012" < 20 OR
#         "2013" < 20 OR
#         "2014" < 20 OR
#         "2015" < 20 OR
#         "2016" < 20 OR
#         "2017" < 20
#     );




# '''


# result_df2 = pd.read_sql_query(query_2, conn)

# result_df2

# Assuming m is your DataFrame
# result_df.to_csv('C:/Users/sp3052/OneDrive - UNT System/outputs/merged_data.csv', index=False)

,Country Name,Country Code,GDP Indicator Name,GDP Indicator Code,GDP 1960,GDP 1961,GDP 1962,GDP 1963,GDP 1964,GDP 1965,...,GDP 2008,GDP 2009,GDP 2010,GDP 2011,GDP 2012,GDP 2013,GDP 2014,GDP 2015,GDP 2016,GDP 2017
0,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.857319e+10,1.964834e+10,1.988801e+10,2.150185e+10,2.375854e+10,2.593124e+10,...,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12,1.208039e+12,1.323421e+12
1,Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,...,4.302943e+11,4.001723e+11,3.918927e+11,4.311203e+11,4.094252e+11,4.300687e+11,4.418854e+11,3.820659e+11,3.908000e+11,4.165957e+11
2,Burundi,BDI,GDP (current US$),NY.GDP.MKTP.CD,1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,...,1.611634e+09,1.739781e+09,2.026864e+09,2.355652e+09,2.472385e+09,2.714506e+09,3.093647e+09,3.066681e+09,3.007029e+09,3.477502e+09
3,Belgium,BEL,GDP (current US$),NY.GDP.MKTP.CD,1.165872e+10,1.240015e+10,1.326402e+10,1.426002e+10,1.596011e+10,1.737146e+10,...,5.186259e+11,4.845528e+11,4.835480e+11,5.270085e+11,4.978842e+11,5.209255e+11,5.307710e+11,4.550396e+11,4.675455e+11,4.926813e+11
4,Benin,BEN,GDP (current US$),NY.GDP.MKTP.CD,2.261956e+08,2.356682e+08,2.364349e+08,2.539276e+08,2.698190e+08,2.899087e+08,...,7.132787e+09,7.097199e+09,6.970241e+09,7.814081e+09,8.152554e+09,9.157356e+09,9.707432e+09,8.291156e+09,8.573160e+09,9.273558e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,St. Vincent and the Grenadines,VCT,GDP (current US$),NY.GDP.MKTP.CD,1.306656e+07,1.399988e+07,1.452488e+07,1.370822e+07,1.475821e+07,1.510821e+07,...,6.954289e+08,6.749225e+08,6.812260e+08,6.761294e+08,6.929337e+08,7.212071e+08,7.251852e+08,7.566667e+08,7.655556e+08,7.896296e+08
109,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.353783e+12,1.409528e+12,1.509012e+12,1.629958e+12,1.788432e+12,1.947843e+12,...,6.343346e+13,6.013844e+13,6.595667e+13,7.329734e+13,7.496562e+13,7.705059e+13,7.913144e+13,7.484273e+13,7.593681e+13,8.068379e+13
110,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
111,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
112,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

In [71]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
gdp_df_cleaned.to_sql('gdp_data', conn,if_exists='replace',index=False)
q='''
SELECT 
    [Country Name], 
    [Country Code], 
    [Indicator Name] AS GDPIndicator,
    [Indicator Code] AS GDPIndicatorCode,
    [1960], [1961], [1962], [1963], [1964], [1965], [1966], [1967], [1968], [1969], 
    [1970], [1971], [1972], [1973], [1974], [1975], [1976], [1977], [1978], [1979], 
    [1980], [1981], [1982], [1983], [1984], [1985], [1986], [1987], [1988], [1989], 
    [1990], [1991], [1992], [1993], [1994], [1995], [1996], [1997], [1998], [1999], 
    [2000], [2001], [2002], [2003], [2004], [2005], [2006], [2007], [2008], [2009], 
    [2010], [2011], [2012], [2013], [2014], [2015], [2016], [2017]
FROM 
    gdp_data
'''


result_df = pd.read_sql_query(q, conn)

result_df

,Country Name,Country Code,GDPIndicator,GDPIndicatorCode,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.857319e+10,1.964834e+10,1.988801e+10,2.150185e+10,2.375854e+10,2.593124e+10,...,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12,1.208039e+12,1.323421e+12
1,Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,...,4.302943e+11,4.001723e+11,3.918927e+11,4.311203e+11,4.094252e+11,4.300687e+11,4.418854e+11,3.820659e+11,3.908000e+11,4.165957e+11
2,Burundi,BDI,GDP (current US$),NY.GDP.MKTP.CD,1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,...,1.611634e+09,1.739781e+09,2.026864e+09,2.355652e+09,2.472385e+09,2.714506e+09,3.093647e+09,3.066681e+09,3.007029e+09,3.477502e+09
3,Belgium,BEL,GDP (current US$),NY.GDP.MKTP.CD,1.165872e+10,1.240015e+10,1.326402e+10,1.426002e+10,1.596011e+10,1.737146e+10,...,5.186259e+11,4.845528e+11,4.835480e+11,5.270085e+11,4.978842e+11,5.209255e+11,5.307710e+11,4.550396e+11,4.675455e+11,4.926813e+11
4,Benin,BEN,GDP (current US$),NY.GDP.MKTP.CD,2.261956e+08,2.356682e+08,2.364349e+08,2.539276e+08,2.698190e+08,2.899087e+08,...,7.132787e+09,7.097199e+09,6.970241e+09,7.814081e+09,8.152554e+09,9.157356e+09,9.707432e+09,8.291156e+09,8.573160e+09,9.273558e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,St. Vincent and the Grenadines,VCT,GDP (current US$),NY.GDP.MKTP.CD,1.306656e+07,1.399988e+07,1.452488e+07,1.370822e+07,1.475821e+07,1.510821e+07,...,6.954289e+08,6.749225e+08,6.812260e+08,6.761294e+08,6.929337e+08,7.212071e+08,7.251852e+08,7.566667e+08,7.655556e+08,7.896296e+08
109,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.353783e+12,1.409528e+12,1.509012e+12,1.629958e+12,1.788432e+12,1.947843e+12,...,6.343346e+13,6.013844e+13,6.595667e+13,7.329734e+13,7.496562e+13,7.705059e+13,7.913144e+13,7.484273e+13,7.593681e+13,8.068379e+13
110,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
111,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
112,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

In [77]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL database table
new_df.to_sql('merged_data1', conn, index=False)

query = r'''
 SELECT
    "Country Name",
    "Country Code",
    "Indicator Name",
    "Indicator Code",
    [1990], [1991], [1992], [1993], [1994], [1995], [1996], [1997], [1998], [1999], 
    [2000], [2001], [2002], [2003], [2004], [2005], [2006], [2007], [2008], [2009], 
    [2010], [2011], [2012], [2013], [2014], [2015], [2016]
FROM
    [merged_data1]
WHERE 
       [2016] < 20


'''
result_df = pd.read_sql_query(query, conn)

result_df

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Burundi,BDI,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.348627,0.688546,1.027955,1.364305,1.694537,2.015591,...,4.817322,4.800000,5.341904,5.300000,5.938580,6.500000,6.583319,7.000000,7.252090,7.588477
1,Burkina Faso,BFA,Access to electricity (% of population),EG.ELC.ACCS.ZS,2.610557,3.308719,4.006370,6.100000,5.389437,6.068734,...,13.169374,13.779394,14.410441,13.100000,15.723602,16.399708,17.084827,19.200000,18.470081,19.164713
2,Central African Republic,CAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.538830,1.081371,1.682022,2.276555,3.000000,...,8.835250,9.351328,9.888433,9.800000,11.013711,11.595876,12.187052,12.784236,13.384423,13.985112
3,Liberia,LBR,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,3.000000,1.752656,1.900000,5.146131,4.100000,8.599684,9.800000,9.400000,13.840092,19.800000
4,Malawi,MWI,Access to electricity (% of population),EG.ELC.ACCS.ZS,1.120720,1.549459,3.200000,2.402859,2.821911,3.231786,...,7.099362,7.439960,7.801585,8.700000,7.600000,7.400000,9.000000,11.900000,10.800000,11.000000
5,Niger,NER,Access to electricity (% of population),EG.ELC.ACCS.ZS,2.290002,2.887128,4.400000,4.077301,4.664740,6.200000,...,11.131215,11.640200,12.170211,12.718246,14.300000,14.400000,14.440454,15.030544,16.600000,16.217234
6,Chad,TCD,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.030787,0.108398,0.297481,0.575130,1.003540,...,5.093541,5.452674,5.832835,6.400000,6.644222,7.069442,7.503673,7.943912,7.700000,8.830898

In [ ]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL database table
electricity_df_cleaned.to_sql('electricity_df', conn, index=False)

In [72]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL database table
electricity_df_cleaned.to_sql('electricity_df', conn, index=False)
q=r'''
SELECT 
    [Country Name], 
    [Country Code], 
    [Indicator Name] AS ElectricityIndicator,
    [Indicator Code] AS ElectricityIndicatorCode,
    [1990], [1991], [1992], [1993], [1994], [1995], [1996], [1997], [1998], [1999], 
    [2000], [2001], [2002], [2003], [2004], [2005], [2006], [2007], [2008], [2009], 
    [2010], [2011], [2012], [2013], [2014], [2015], [2016]
FROM 
    [electricity_df]
WHERE 
    [2016] < 20
    
    '''
result_df = pd.read_sql_query(q, conn)

result_df

,Country Name,Country Code,ElectricityIndicator,ElectricityIndicatorCode,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Burundi,BDI,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.348627,0.688546,1.027955,1.364305,1.694537,2.015591,...,4.817322,4.800000,5.341904,5.300000,5.938580,6.500000,6.583319,7.000000,7.252090,7.588477
1,Burkina Faso,BFA,Access to electricity (% of population),EG.ELC.ACCS.ZS,2.610557,3.308719,4.006370,6.100000,5.389437,6.068734,...,13.169374,13.779394,14.410441,13.100000,15.723602,16.399708,17.084827,19.200000,18.470081,19.164713
2,Central African Republic,CAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.538830,1.081371,1.682022,2.276555,3.000000,...,8.835250,9.351328,9.888433,9.800000,11.013711,11.595876,12.187052,12.784236,13.384423,13.985112
3,"Congo, Dem. Rep.",COD,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.582455,1.183003,1.911180,2.633239,3.346121,...,15.200000,11.493383,12.158015,12.840671,13.538345,15.400000,14.966739,13.500000,16.419165,17.147379
4,Guinea-Bissau,GNB,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.265749,0.541687,1.192769,1.837734,2.473521,...,9.052042,9.618552,4.700000,6.000000,11.432230,12.064826,12.706434,17.200000,14.004670,14.655790
5,Liberia,LBR,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,3.000000,1.752656,1.900000,5.146131,4.100000,8.599684,9.800000,9.400000,13.840092,19.800000
6,Malawi,MWI,Access to electricity (% of population),EG.ELC.ACCS.ZS,1.120720,1.549459,3.200000,2.402859,2.821911,3.231786,...,7.099362,7.439960,7.801585,8.700000,7.600000,7.400000,9.000000,11.900000,10.800000,11.000000
7,Niger,NER,Access to electricity (% of population),EG.ELC.ACCS.ZS,2.290002,2.887128,4.400000,4.077301,4.664740,6.200000,...,11.131215,11.640200,12.170211,12.718246,14.300000,14.400000,14.440454,15.030544,16.600000,16.217234
8,South Sudan,SSD,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,0.502950,1.021752,3.000000,1.500000,3.918669,4.912345,5.915033,6.923728,7.935428,8.947628
9,Chad,TCD,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.030787,0.108398,0.297481,0.575130,1.003540,...,5.093541,5.452674,5.832835,6.400000,6.644222,7.069442,7.503673,7.943912,7.700000,8.830898

In [63]:
gdp_df = pd.read_csv("gdp_data.csv",skiprows=4)
gdp_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09,NaN
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,NaN,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11,NaN
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10,NaN
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10,NaN

In [64]:
# Assuming gdp_df is your DataFrame
gdp_df_cleaned=gdp_df.drop('Unnamed: 62',axis=1)  
# Remove rows and columns with all null values
gdp_df_cleaned = gdp_df_cleaned.dropna(how='any', axis=0).dropna(how='any', axis=1)
# Remove duplicate rows
gdp_df_cleaned = gdp_df_cleaned.drop_duplicates()
# Display the cleaned DataFrame
print("Cleaned DataFrame:")
gdp_df_cleaned

Cleaned DataFrame:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
11,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.857319e+10,1.964834e+10,1.988801e+10,2.150185e+10,2.375854e+10,2.593124e+10,...,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12,1.208039e+12,1.323421e+12
12,Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,...,4.302943e+11,4.001723e+11,3.918927e+11,4.311203e+11,4.094252e+11,4.300687e+11,4.418854e+11,3.820659e+11,3.908000e+11,4.165957e+11
14,Burundi,BDI,GDP (current US$),NY.GDP.MKTP.CD,1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,...,1.611634e+09,1.739781e+09,2.026864e+09,2.355652e+09,2.472385e+09,2.714506e+09,3.093647e+09,3.066681e+09,3.007029e+09,3.477502e+09
15,Belgium,BEL,GDP (current US$),NY.GDP.MKTP.CD,1.165872e+10,1.240015e+10,1.326402e+10,1.426002e+10,1.596011e+10,1.737146e+10,...,5.186259e+11,4.845528e+11,4.835480e+11,5.270085e+11,4.978842e+11,5.209255e+11,5.307710e+11,4.550396e+11,4.675455e+11,4.926813e+11
16,Benin,BEN,GDP (current US$),NY.GDP.MKTP.CD,2.261956e+08,2.356682e+08,2.364349e+08,2.539276e+08,2.698190e+08,2.899087e+08,...,7.132787e+09,7.097199e+09,6.970241e+09,7.814081e+09,8.152554e+09,9.157356e+09,9.707432e+09,8.291156e+09,8.573160e+09,9.273558e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,St. Vincent and the Grenadines,VCT,GDP (current US$),NY.GDP.MKTP.CD,1.306656e+07,1.399988e+07,1.452488e+07,1.370822e+07,1.475821e+07,1.510821e+07,...,6.954289e+08,6.749225e+08,6.812260e+08,6.761294e+08,6.929337e+08,7.212071e+08,7.251852e+08,7.566667e+08,7.655556e+08,7.896296e+08
257,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.353783e+12,1.409528e+12,1.509012e+12,1.629958e+12,1.788432e+12,1.947843e+12,...,6.343346e+13,6.013844e+13,6.595667e+13,7.329734e+13,7.496562e+13,7.705059e+13,7.913144e+13,7.484273e+13,7.593681e+13,8.068379e+13
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

In [146]:
# gdp_df_cleaned.to_csv('C:/Users/sp3052/OneDrive - UNT System/final/gdp.csv', index=False)

In [139]:

gdp_df_cleaned.isnull().sum()

Country Name      0.0
Country Code      0.0
Indicator Name    0.0
Indicator Code    0.0
1960              0.0
                 ...
2014              0.0
2015              0.0
2016              0.0
2017              0.0
Unnamed: 62       0.0
Length: 63, dtype: float64

In [140]:
gdp_df_cleaned.isnull().sum().sum()

0.0

In [25]:
#first_columns = gdp_df_cleaned.iloc[:, :4]
#first_columns
#g1=gdp_df_cleaned.iloc[:, 4:]
#g1= gdp_df_cleaned.iloc[:, 4:].fillna(gdp_df_cleaned.iloc[:, 4:].mean())
#g1 = pd.concat([gdp_df[first_4_columns], gdp_df.iloc[:, 4:]], axis=1)
# Fill NaN values with 0 in the rest of the columns
#rest_columns = rest_columns.fillna(0)
# Concatenate the two parts back together
#gdp_df_filled = pd.concat([first_columns, rest_columns], axis=1)
# Split the DataFrame into two parts: first 4 columns and the rest
# first_columns = gdp_df_cleaned.iloc[:, :4]
# rest_columns = gdp_df_cleaned.iloc[:, 4:]
# # Fill NaN values with the mean of each column, excluding the first 4 columns
# rest_columns = rest_columns.fillna(rest_columns.mean())
# #rest_columns = rest_columns.fillna(0)
# # Concatenate the two parts back together
# g1 = pd.concat([first_columns, rest_columns], axis=1)
# g1

# id_vars = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']
# value_vars = [col for col in g1.columns if col not in id_vars]
# normalized_df = g1.melt(id_vars=id_vars, value_vars=value_vars, var_name='Year', value_name='Value')
# normalized_df

In [ ]:
# electricity_df = pd.read_csv('electricity_access_percent.csv',skiprows=4)
# rpp_df = pd.read_csv('rural_population_percent.csv',skiprows=4)
# # Read the CSV file with error_bad_lines=False
# msty_df = pd.read_csv('mystery.csv', encoding='UTF-16', sep=',', on_bad_lines='skip')

In [53]:
# Load electricity access data from CSV
electricity_df = pd.read_csv('electricity_access_percent.csv',skiprows=4)
electricity_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,NaN,NaN
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,NaN,NaN
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,NaN,NaN
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,NaN,NaN
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,NaN,NaN

In [56]:
# Assuming electricity_df is your DataFrame
electricity_df_cleaned=electricity_df.drop('Unnamed: 62',axis=1)  
# Remove rows and columns with all null values
electricity_df_cleaned = electricity_df_cleaned.dropna(how='all', axis=0).dropna(how='all', axis=1)
# Remove duplicate rows
electricity_df_cleaned = electricity_df_cleaned.drop_duplicates()
# Display the cleaned DataFrame
print("Cleaned DataFrame:")
electricity_df_cleaned

Cleaned DataFrame:

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,88.445351,88.780846,89.115829,89.447754,89.773560,90.090187,...,92.838821,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,33.748680,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,11.397808,12.579379,13.760440,14.938441,16.110325,17.273031,...,37.500000,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,87.694695,88.333473,88.971748,89.606956,90.236053,90.855965,...,97.244034,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,36.009098,37.441071,44.100000,40.300938,41.723221,43.136330,...,59.042709,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,59.337940,60.575081,61.811710,63.045284,64.272736,65.491013,...,82.000000,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,13.900000,14.115426,19.200000,15.287503,15.865894,16.435108,...,18.500000,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,30.357832,30.718805,28.200000,31.436678,28.100000,32.130077,...,35.184479,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138

In [82]:
#  electricity_df_cleaned.to_csv('C:/Users/sp3052/OneDrive - UNT System/final/electricity.csv', index=False)

In [55]:
electricity_df_cleaned.isnull().sum()

Country Name       0
Country Code       0
Indicator Name     0
Indicator Code     0
1990              13
1991              13
1992              13
1993              13
1994              12
1995               9
1996               8
1997               8
1998               8
1999               8
2000               7
2001               6
2002               5
2003               5
2004               4
2005               4
2006               4
2007               3
2008               3
2009               3
2010               3
2011               3
2012               3
2013               3
2014               3
2015               3
2016               3
dtype: int64

In [57]:
 electricity_df_cleaned.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,251.000000,251.000000,251.000000,251.000000,252.000000,255.000000,256.000000,256.000000,256.000000,256.000000,...,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,66.482942,66.985435,67.674832,68.217255,68.836069,69.785224,70.668421,71.201220,71.902444,72.620644,...,77.741838,78.276041,78.831094,78.818472,79.916879,80.816723,81.315235,82.098619,82.767097,83.565600
std,37.413804,37.105667,36.761459,36.463551,36.117646,35.610022,35.098659,34.767876,34.222004,33.743100,...,30.244295,30.011636,29.750147,29.886804,28.804997,28.264746,28.017765,27.319316,26.863950,25.931525
min,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,0.502950,1.021752,1.900000,0.000000,3.918669,4.912345,5.915033,6.923728,7.252090,7.588477
25%,32.058917,33.616261,35.203474,36.787632,36.670809,41.066517,42.748812,42.380551,44.879803,47.375000,...,59.042709,60.559383,62.982807,64.350000,66.062515,68.796662,69.796356,71.673798,71.500000,75.920000
50%,85.381281,86.385145,86.512253,87.418197,87.841311,88.487887,89.357423,89.695685,90.376657,90.998881,...,94.896184,95.501411,96.779938,97.000000,97.490799,97.824120,98.385853,98.701241,99.032677,99.426155
75%,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [62]:

# electricity_des= electricity_df_cleaned.columns[4:]
# electricity_rest_columns = electricity_df_cleaned.iloc[:, 4:]
# # Use describe on selected columns
# des = electricity_df_cleaned[electricity_rest_columns].describe()
# sum_row = pd.DataFrame(electricity_rest_columns.sum()).T
# sum_row.index = ['sum']
# electricity_df_with_sum = pd.concat([des, sum_row])
# e1 = pd.concat([electricity_des, electricity_df_with_sum], axis=1)
# e1
# Exclude the first 4 columns and select the rest
# electricity_rest_columns = electricity_df_cleaned.iloc[:, 4:]

# # Use describe on selected columns
# des = electricity_rest_columns.describe()

# # Calculate the sum of the selected columns
# sum_row = pd.DataFrame(electricity_rest_columns.sum()).T
# sum_row.index = ['sum']

# # Concatenate the result of describe() with the sum row
# electricity_df_with_sum = pd.concat([des, sum_row])

# # Include the first 4 columns and concatenate with the result
# result_df = pd.concat([electricity_df_cleaned.iloc[:, :4], electricity_df_with_sum], axis=1)

# # Print the combined result
# result_df
# # this


# Calculate descriptive statistics for the DataFrame
electricity_des= electricity_df_cleaned.describe()
# Calculate the sum of the DataFrame and convert it to a DataFrame with a 'sum' label
sum_row = pd.DataFrame(electricity_df_cleaned.sum()).T
sum_row.index = ['sum']
# Concatenate the result of describe() with the sum row
electricity_df_with_sum = pd.concat([electricity_des, sum_row])
# Print the combined result
print("Descriptive statistics for electricity_df_with_sum with sum:")
electricity_df_with_sum


# # Split the DataFrame into two parts: first 4 columns and the rest
# electricity_first_columns = electricity_df_cleaned.iloc[:, :4]
# electricity_rest_columns = electricity_df_cleaned.iloc[:, 4:]

# # # Fill NaN values with the mean of each column, excluding the first 4 columns
# # # electricity_rest_columns= rest_columns.fillna(rest_columns.mean())
# # #rest_columns = rest_columns.fillna(0)

# # # Calculate descriptive statistics for the DataFrame
# # electricity_rest_columns= electricity_df_cleaned.describe()

# # # Calculate the sum of the DataFrame and convert it to a DataFrame with a 'sum' label
# # sum_row = pd.DataFrame(electricity_df_cleaned.sum()).T
# # sum_row.index = ['sum']

# # # Concatenate the result of describe() with the sum row
# # electricity_df_with_sum = pd.concat([electricity_rest_columns, sum_row])

# # # Print the combined result
# # print("Descriptive statistics for rpp_df_cleaned_1 with sum:")
# # electricity_df_with_sum
# # # Concatenate the two parts back together
# # e1 = pd.concat([electricity_first_columns , electricity_df_with_sum], axis=1)
# # e1

Descriptive statistics for electricity_df_with_sum with sum:

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2011,2012,2013,2014,2015,2016,Country Name,Country Code,Indicator Name,Indicator Code
count,251.0,251.0,251.0,251.0,252.0,255.0,256.0,256.0,256.0,256.0,...,261.0,261.0,261.0,261.0,261.0,261.0,NaN,NaN,NaN,NaN
mean,66.482942,66.985435,67.674832,68.217255,68.836069,69.785224,70.668421,71.20122,71.902444,72.620644,...,79.916879,80.816723,81.315235,82.098619,82.767097,83.5656,NaN,NaN,NaN,NaN
std,37.413804,37.105667,36.761459,36.463551,36.117646,35.610022,35.098659,34.767876,34.222004,33.7431,...,28.804997,28.264746,28.017765,27.319316,26.86395,25.931525,NaN,NaN,NaN,NaN
min,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,3.918669,4.912345,5.915033,6.923728,7.25209,7.588477,NaN,NaN,NaN,NaN
25%,32.058917,33.616261,35.203474,36.787632,36.670809,41.066517,42.748812,42.380551,44.879803,47.375,...,66.062515,68.796662,69.796356,71.673798,71.5,75.92,NaN,NaN,NaN,NaN
50%,85.381281,86.385145,86.512253,87.418197,87.841311,88.487887,89.357423,89.695685,90.376657,90.998881,...,97.490799,97.82412,98.385853,98.701241,99.032677,99.426155,NaN,NaN,NaN,NaN
75%,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN,NaN,NaN
max,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN,NaN,NaN
sum,16687.21832,16813.344229,16986.382714,17122.531011,17346.689427,17795.232022,18091.115812,18227.512314,18407.025607,18590.884949,...,20858.305479,21093.164796,21223.276441,21427.739543,21602.212295,21810.621481,ArubaAfghanistanAngolaAlbaniaAndorraArab World...,ABWAFGAGOALBANDARBAREARGARMASMATGAUSAUTAZEBDIB...,Access to electricity (% of population)Access ...,EG.ELC.ACCS.ZSEG.ELC.ACCS.ZSEG.ELC.ACCS.ZSEG.E...

In [16]:
# Load rural_population_percent data from CSV
rpp_df = pd.read_csv('rural_population_percent.csv',skiprows=4)
rpp_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Rural population (% of total population),SP.RUR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Rural population (% of total population),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231,NaN
261,South Africa,ZAF,Rural population (% of total population),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218,NaN
262,Zambia,ZMB,Rural population (% of total population),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160,NaN
263,Zimbabwe,ZWE,Rural population (% of total population),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793,NaN

In [49]:
# Assuming rpp_df is your DataFrame
rpp_df_cleaned= rpp_df.drop('Unnamed: 62',axis=1)  
# Remove rows and columns with all null values
rpp_df_cleaned =  rpp_df.dropna(how='all', axis=0).dropna(how='all', axis=1)
 # Remove duplicate rows
rpp_df_cleaned=  rpp_df_cleaned.drop_duplicates()
 # Display the cleaned DataFrame
print("Cleaned DataFrame:")
rpp_df_cleaned

Cleaned DataFrame:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Rural population (% of total population),SP.RUR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Rural population (% of total population),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,69.398,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231
261,South Africa,ZAF,Rural population (% of total population),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.846,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218
262,Zambia,ZMB,Rural population (% of total population),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,62.125,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160
263,Zimbabwe,ZWE,Rural population (% of total population),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.440,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793

In [282]:
rpp_df_cleaned.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [15]:
rpp_df_cleaned.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,...,261.000000,261.000000,261.000000,261.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000
mean,63.780723,63.268079,62.744129,62.210687,61.665423,61.126631,60.589304,60.054138,59.499864,58.942975,...,43.660014,43.352914,43.046385,42.737262,42.289136,41.981502,41.673917,41.366302,41.058825,40.751455
std,23.872073,23.915329,23.962966,24.009611,24.050453,24.097359,24.149868,24.195656,24.245253,24.288816,...,23.551873,23.504142,23.455723,23.403420,23.286923,23.233259,23.177917,23.120807,23.061619,23.000182
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.172500,48.369500,47.476500,46.669500,45.993000,45.333500,44.372500,43.554000,42.463000,41.518000,...,24.432000,24.068000,23.708000,23.351000,23.164250,22.892000,22.634000,22.267500,21.851750,21.449750
50%,67.599000,66.478000,66.045000,65.338000,64.803000,64.470390,63.952000,63.204000,62.640000,61.926773,...,44.889000,44.445000,43.804530,43.533000,43.084825,42.625581,42.242671,41.455916,41.014860,40.621500
75%,83.172084,82.764152,82.083313,81.629136,81.131221,80.953000,80.677000,80.618000,80.395000,79.902500,...,63.606000,63.177000,62.741000,62.298000,61.592000,61.112750,60.612500,60.257000,59.992500,59.538250
max,97.923000,97.885000,97.846000,97.807000,97.767000,97.706000,97.605000,97.499000,97.389000,97.274000,...,90.592000,90.751000,90.908000,91.063000,91.205000,91.334000,91.450000,91.555000,91.648000,91.730000

In [21]:
# Calculate descriptive statistics for the DataFrame
description = rpp_df_cleaned.describe()
# Calculate descriptive statistics for the DataFrame
rpp_des= rpp_df_cleaned.describe()
# Calculate the sum of the DataFrame and convert it to a DataFrame with a 'sum' label
sum_row = pd.DataFrame(rpp_df_cleaned.sum()).T
sum_row.index = ['sum']
# Concatenate the result of describe() with the sum row
rpp_df_with_sum = pd.concat([rpp_des, sum_row])
# Print the combined result
print("Descriptive statistics for rpp_df_cleaned_1 with sum:")
rpp_df_with_sum

Descriptive statistics for rpp_df_cleaned_1 with sum:

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,Country Name,Country Code,Indicator Name,Indicator Code
count,259.0,259.0,259.0,259.0,259.0,259.0,259.0,259.0,259.0,259.0,...,260.0,260.0,260.0,260.0,260.0,260.0,NaN,NaN,NaN,NaN
mean,63.780723,63.268079,62.744129,62.210687,61.665423,61.126631,60.589304,60.054138,59.499864,58.942975,...,42.289136,41.981502,41.673917,41.366302,41.058825,40.751455,NaN,NaN,NaN,NaN
std,23.872073,23.915329,23.962966,24.009611,24.050453,24.097359,24.149868,24.195656,24.245253,24.288816,...,23.286923,23.233259,23.177917,23.120807,23.061619,23.000182,NaN,NaN,NaN,NaN
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
25%,49.1725,48.3695,47.4765,46.6695,45.993,45.3335,44.3725,43.554,42.463,41.518,...,23.16425,22.892,22.634,22.2675,21.85175,21.44975,NaN,NaN,NaN,NaN
50%,67.599,66.478,66.045,65.338,64.803,64.47039,63.952,63.204,62.64,61.926773,...,43.084825,42.625581,42.242671,41.455916,41.01486,40.6215,NaN,NaN,NaN,NaN
75%,83.172084,82.764152,82.083313,81.629136,81.131221,80.953,80.677,80.618,80.395,79.9025,...,61.592,61.11275,60.6125,60.257,59.9925,59.53825,NaN,NaN,NaN,NaN
max,97.923,97.885,97.846,97.807,97.767,97.706,97.605,97.499,97.389,97.274,...,91.205,91.334,91.45,91.555,91.648,91.73,NaN,NaN,NaN,NaN
sum,16519.207158,16386.432348,16250.729484,16112.567816,15971.34462,15831.797479,15692.62975,15554.021624,15410.464839,15266.230412,...,10995.175371,10915.190459,10835.218293,10755.238643,10675.294377,10595.378215,ArubaAfghanistanAngolaAlbaniaAndorraArab World...,ABWAFGAGOALBANDARBAREARGARMASMATGAUSAUTAZEBDIB...,Rural population (% of total population)Rural ...,SP.RUR.TOTL.ZSSP.RUR.TOTL.ZSSP.RUR.TOTL.ZSSP.R...

In [33]:
import chardet

# Read the CSV file with error_bad_lines=False
msty_df = pd.read_csv('mystery.csv', encoding='UTF-16', sep=',', on_bad_lines='skip')
msty_df

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

In [47]:
# Assuming msty_df is your DataFrame
msty_df_cleaned= msty_df.drop('Unnamed: 0',axis=1)
msty_df_cleaned

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

In [48]:
# Calculate descriptive statistics for the DataFrame
description =msty_df_cleaned.describe()
# Calculate the sum of the DataFrame and convert it to a DataFrame with a 'sum' label
sum_row = pd.DataFrame(msty_df_cleaned.sum()).T
sum_row.index = ['sum']
# Concatenate the result of describe() with the sum row
msty_df_cleaned_with_sum = pd.concat([description, sum_row])
# Print the combined result
print("Descriptive statistics msty_df_cleaned_with_sum with sum:")
msty_df_cleaned_with_sum

Descriptive statistics msty_df_cleaned_with_sum with sum:

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,Country Name,Country Code,Indicator Name,Indicator Code
count,260.0,260.0,260.0,260.0,260.0,260.0,260.0,260.0,260.0,260.0,...,262.0,262.0,262.0,262.0,262.0,262.0,NaN,NaN,NaN,NaN
mean,117804668.346154,119387887.453846,121504295.146154,124138824.338462,126794321.357692,129516089.469231,132383045.723077,135244884.603846,138157628.430769,141212683.9,...,285328092.167939,289002941.866412,292706616.282443,296419393.400763,300153733.28626,303884023.923664,NaN,NaN,NaN,NaN
std,371838044.069447,376299969.650952,382856663.092657,391402894.165678,399994046.033689,408822980.518804,418220118.099038,427570943.189404,437127182.453619,447165439.462225,...,903099765.100487,914052855.723053,925071255.326926,936100278.431096,947185664.396531,958259288.455268,NaN,NaN,NaN,NaN
min,4279.0,4453.0,4566.0,4656.0,4748.0,4841.0,4936.0,5033.0,5161.0,5303.0,...,10279.0,10819.0,10908.0,11001.0,11097.0,11192.0,NaN,NaN,NaN,NaN
25%,518401.5,530148.0,542656.75,555952.0,568416.75,572779.0,578650.0,588232.75,625796.0,656758.25,...,1415725.75,1431559.75,1447305.75,1471522.75,1522802.75,1577113.0,NaN,NaN,NaN,NaN
50%,3669524.5,3734206.5,3839584.0,3955168.0,4074411.0,4170861.5,4235562.0,4300502.5,4367325.0,4449014.5,...,9624267.0,9746730.5,9879129.0,10021149.0,10124268.5,10180731.0,NaN,NaN,NaN,NaN
75%,25327536.75,26115409.0,26905080.25,27700503.0,28478835.25,29247496.5,29996928.25,30595026.0,31202390.25,31795274.5,...,52495288.25,53187596.0,53963395.5,54938408.0,55904655.0,57161803.25,NaN,NaN,NaN,NaN
max,3032160395.0,3073368589.0,3126509809.0,3191786428.0,3257459749.0,3324545319.0,3394783653.0,3464689185.0,3535355316.0,3610178793.0,...,7099557649.0,7185137526.0,7271322821.0,7357559450.0,7444157356.0,7530360149.0,NaN,NaN,NaN,NaN
sum,30629213770.0,31040850738.0,31591116738.0,32276094328.0,32966523553.0,33674183262.0,34419591888.0,35163669997.0,35920983392.0,36715297814.0,...,74755960148.0,75718770769.0,76689133466.0,77661881071.0,78640278121.0,79617614268.0,ArubaAfghanistanAngolaAlbaniaAndorraArab World...,ABWAFGAGOALBANDARBAREARGARMASMATGAUSAUTAZEBDIB...,"Population, totalPopulation, totalPopulation, ...",SP.POP.TOTLSP.POP.TOTLSP.POP.TOTLSP.POP.TOTLSP...